/Semana1/Sem1-Docker-Posgress-Terraform.docx
/Semana1/02_terraform/root-blueprint-379706-58cd41798659.json
/Semana2/Sem2-Orquestación_flujo_de_datos_Prefect.docx
/Semana2/01_data_flow_orchestration_prefect/root-blueprint-379706-58cd41798659.json
/Homeworks/
/Semana1/01_docker_sql/yellow_tripdata_2021-01.csv
/Semana1/01_docker_sql/ny_taxi_postgres_data/